html {
    background-color: #00539f;
}

body {
    background-color: #00C957;
    border: 10px;
    margin: 0 auto;    
    width: 60%;
}
img {
    border: 10px ridge gold;
    border-radius: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 260px;
}
primary {
    color: #0266C8;
}
secondary {
    color: #F90101;
}