body, html, header, article, aside, footer {
padding: 0;
border: 0;
margin: 0;
box-sizing: border-box;
}
body {
display: flex;
flex-flow: row wrap;
}
header, article, aside, footer {
width: 100%;
}
body {
font-weight: bold;
}
header, article, aside, footer {
padding: 10px;
text-align: center;
}
header {
background: tomato;
}
article {
text-align: left;
background: deepskyblue;
}
aside:nth-child(3) {
background: gold;
}
aside:nth-child(4) {
background: hotpink;
}
footer {
background: lightgreen;
}
body {
padding: 0 3em;
}
article {
width: 70%;
}
aside {
width: 15%;
}
aside:nth-child(3) {
order: 1;
}
article {
order: 2;
}
aside:nth-child(4) {
order: 3;
}
footer {
order: 4;
}