/* specificity: 1, 1, 1 */
div, p, h1 {
border: 1px solid black;
height: auto;
padding: 10px;
width: auto;
}
/* specificity: 1 */
.class1 {
color: red;
}
/* specificity: 1 */
#id1 {
color: blue;
}
/* specificity: 1, 1 */
p.p {
color: green;
}
/* specificity: 1, 1 */
h1 + p {
color: orange;
}
/* specificity: 1, 1 */
div .class3 {
color: purple;
}
/* specificity: 1, 1 */
div > p {
color: gray;
}
/* specificity: 1 */
div:first-of-type {
color: brown;
}
/* specificity: 1 */
s[attribute="value"] {
color: teal;
}
/* specificity: 1 */
p[attribute$="value"] {
color: pink;
}
/* specificity: 2, 1 */
body#body-id {
color: red;
}
/* specificity: 1, 1 */
div .class3 {
color: purple;
}