        li {
            color: red;
        }

        #list-item-50 {
            color: blue;
        }

        .list-item-even {
            color: green;
        }

        .list-item-odd {
            color: purple;
        }