body,html,header,article,aside,footer {
padding: 0;
border: 0;
margin: 0;
box-sizing: border-box;
background-color: black;
color: white;
font-family: 'Kernel Panic NBP', sans-serif;
text-align: center;
}
container {
display: flex;
}
body {
display: flex;
flex-flow: row wrap;
}
aside a, footer a {
display: inline-block;
padding: 03px 20px;
margin: 20px;
border: 2px solid #000;
border-radius: 5px;
font-family: 'kernel-panic-nbp', sans-serif;
font-size: 20px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
color: #000;
text-decoration: none;
transition: all 0.3s ease-in-out;
}
aside,
footer {
transition: all 0.5s ease-in-out;
}
header,
article,
aside,
footer {
width: 100%;
}
iframe {
width: 100%;
height: 100%;
border: none;
}
aside a:hover,
footer a:hover {
color: #fff;
box-shadow: 0 0 10px #fff;
}
aside a:active,
footer a:active {
color: #fff;
box-shadow: 0 0 20px #fff;
}
/*Style*/
body {
font-weight: bold;
}
header,
article,
aside,
footer {
padding: 10px;
text-align: center;
}
header {
background: tomato;
}
article {
text-align: left;
background: deepskyblue;
}
aside:nth-child(3) {
background: gold;
}
aside:nth-child(4) {
background: hotpink;
}
footer {
background: lightgreen;
}
/*600 plus*/
@media screen and (min-width: 600px) {
body {
padding: 0 2em;
}
aside {
width: 50%;
}
}
/*800 plus*/
@media screen and (min-width: 800px) {
body {
padding: 0 3em;
}
article {
width: 70%;
}
aside {
width: 15%;
}
aside:nth-child(3) {
order: 1;
}
article {
order: 2;
}
aside:nth-child(4) {
order: 3;
}
footer {
order: 4;
}
}